
.navbar{
    background-color: rgb(44,62,80)!important;
    
}
.navbar-brand,
.navbar-nav .nav-link{
    color:#fff  !important;
}
.header{
    height: 95vh !important;
    background-color: rgb(26,188,156);
    color: #fff;
}
.portfolio h2{
    color: rgb(44,62,80)!important;
    
}
.port-img{
    width: 25% !important;
    
}
.port-img img{
    border-radius: 20px;
}
.about{
    background-color: rgb(26,188,156);
    
}
.about h2{
    color: #fff;

}
.para{
    color: #fff;
}
.social img{
    width: 10%;
}
.footer{
    background-color: #2c3e50;
    color: #fff;
}